body {
   display: flex;
   align-items: center;
   flex-direction: column;
   height: 90vh;
   background-color: #E2E2E2;
   overflow-y: hidden;
}

#container {
   display: grid;
   grid-template-columns: 100px 100px 100px;
   grid-template-rows: 100px 100px 100px;
}

.cell {
   border: 2px solid black;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cell:hover {
   background-color: #c9d3de;
}

.letter {
   font-size: 48px;
}

button {
   width: 100px;
   height: 30px;
   background-color: #c7b7a3;
   color: #0e1116;
   cursor: pointer;
   margin-top: 50px;
   font-size: 14px;
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   padding-top: 3px;
}

h3 {
   font-family: 'Poppins', sans-serif;
   font-size: 28px;
   font-weight: 600;
   color: #0e1116;
   margin-top: 100px;
   margin-bottom: 50px;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 50px;
}

img {
   width: 20px;
   height: auto;
   margin-top: 3px;
}